---
import { getListingsFromFilePaths } from '~/src/helpers/node/listing-files.ts'

import Layout from '../layouts/HorizontalScroll.astro'

export const prerender = false

const pages = await Astro.glob( '/src/pages/en/*.md' )

const url = Astro.url

const isListingPage = url.pathname.includes('/en/')


if ( isListingPage ) {
    // Get the listing id from the url pathname
    const listingId = Number(
        url.pathname.split('-').at(-1)
            // Replace any trailing slashes
            .replace('/', '')
    )

    const allListings = await getListingsFromFilePaths( pages.map( page => page.file ) )

    // Find a listing with the same id
    const listing = allListings.find( listing => listing.id === listingId )

    console.log({ listingId, listing })

    // return Astro.redirect('/login')
}


---
<Layout
	content={{
		title: 'Page not found - 404',
		description: 'From Howard the Duck to Nick Fury, the extensive list of Marvel films and series before May 2, 2008, the day we were first grace with Robert Downey Jr as Iron-Man. Browse the list, watch, and track what you\'ve seen.',
	}}
>
	
	<div class="w-screen h-screen flex flex-col justify-center items-center gap-4">
        <h1 class="text-4xl font-bold">🔎 Page not Found</h1>
        <div class="opacity-75">Who is Peter Parker and what is this page you're looking for? </div>
    </div>
</Layout>