---
import Layout from '../layouts/HorizontalScroll.astro'

import { fetchSitemapUrls } from '~/src/helpers/sitemap.ts'

export const prerender = false

const url = Astro.url

// Get the listing id from the url pathname
const listingId: string = url.pathname
    .split('-')
    .at(-1)
    // Replace any trailing slashes
    .replace('/', '')

const hasListingId = listingId.length > 2

async function tryFindingNewListingUrl (): Promise<string | undefined> {
    if ( !hasListingId ) {
        return undefined
    }

    try {
        const site = Astro.site.href

        const sitemapUrl = new URL( site )
        sitemapUrl.pathname = '/sitemap-0.xml'

        // console.log({ sitemapUrl })

        // Fetch sitemap urls
        const sitemapUrls = await fetchSitemapUrls( sitemapUrl.href )

        // Find the listing url with the listing id
        const listingUrl = sitemapUrls.find( url => url.includes( listingId ) )

        return listingUrl

    } catch ( error ) {
        return undefined
    }
}

const newListingUrl = await tryFindingNewListingUrl()

if ( !!newListingUrl ) {
    // Redirect to the listing url
    return Astro.redirect( newListingUrl )
}


---
<Layout
	content={{
		title: 'Page not found - 404',
		description: 'From Howard the Duck to Nick Fury, the extensive list of Marvel films and series before May 2, 2008, the day we were first grace with Robert Downey Jr as Iron-Man. Browse the list, watch, and track what you\'ve seen.',
	}}
>
	
	<div class="w-screen h-screen flex flex-col justify-center items-center gap-4">
        <h1 class="text-4xl font-bold">🔎 Page not Found</h1>
        <div class="opacity-75">Who is Peter Parker and what is this page you're looking for? </div>
    </div>
</Layout>