---
import { byListingDate } from '../helpers/sort.ts'
import { getListingFromFile } from '../helpers/node/listing.ts'
import { getLayoutModes } from '../helpers/layout.ts'
import { MappedListing } from '../helpers/node/listing.ts'

import Layout from '../layouts/HorizontalScroll.astro'

const pages = await Astro.glob('../pages/en/*.md')


let listings = await Promise.all( pages.map( async page => {
  const { listing } = await getListingFromFile( page.file )

//   listing.date = new Date( listing.date )

  return new MappedListing( listing )

}) )

// Sort lstings by date
listings = listings.sort( byListingDate ).reverse()

// console.log( 'listing', listings[0].date )

---
<Layout>

	<div class="listing-row relative fill-height w-screen">

		<div 
			class="listing-row-contents flex overflow-x-auto whitespace-no-wrap space-x-6" 
			style="scroll-snap-type:x mandatory;"
		>

			{ listings.map( ( listing, listingIndex ) => (
				<article 
					class="listing-card w-full h-screen flex-shrink-0 flex-grow-0 border-2 rounded-2xl overflow-hidden p-4" 
					style="max-width: 325px; flex-basis: 325px; scroll-snap-align: end;"
				>
					<a href={ `/en/${ listing.slug }` } class="">
						<div 
							class={ `listing-card-container flex flex-col justify-${ getLayoutModes( listingIndex ).outer } overflow-hidden bg-black` }
						>

							<!-- Video Text Content -->
							<div 
								class={`listing-card-content flex items-${ getLayoutModes( listingIndex ).inner } py-4 px-6`}
							>
								<h2 class="w-full text-3xl test-white font-bold text-left whitespace-normal">{ listing.title }</h2>
								<div>{ listing.year }</div>
							</div>
						</div>
					</a>
				</article>
			)) }

		</div>

		<!-- <button class="absolute left-0 h-10 w-10 flex justify-center items-center transform -translate-y-1/2 -translate-x-1/2 bg-darker rounded-full" style="top:50%;" distance="-325" scroll-target="#row-adn9shse7" onclick="scrollHorizontalCarousel( event )" aria-label="Scroll to previous listings">
			<svg viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-gray-400" style="transform: scaleX(-1);">
				<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
			</svg>
		</button>
		<button class="absolute right-0 h-10 w-10 flex justify-center items-center transform -translate-y-1/2 translate-x-1/2 bg-darker rounded-full" style="top:50%;" distance="325" scroll-target="#row-adn9shse7" onclick="scrollHorizontalCarousel( event )" aria-label="Scroll to next listings">
			<svg viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-gray-400">
				<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
			</svg>
		</button> -->

	</div>

	
  
	<script is:inline>
		// Redirect your homepage to the first page of documentation.
		// If you have a landing page, remove this script and add it here!
		// window.location.pathname = `/en/introduction`;
	</script>
</Layout>