---
import Layout from '../layouts/MainLayout.astro'


const titles = await Astro.glob('../pages/en/*.md')

console.log( 'titles', titles )

---
<Layout>

	{ titles.map( title => (
		<article>
			<h1>{ title.frontmatter.title }</h1>
			<p>{ title.frontmatter.description }</p>
			<a href={ title.frontmatter.url }>Read more</a>
		</article>
	)) }
  
	<script is:inline>
		// Redirect your homepage to the first page of documentation.
		// If you have a landing page, remove this script and add it here!
		// window.location.pathname = `/en/introduction`;
	</script>
</Layout>