---
// @ts-ignore
import { getSingleListingFromUrl } from '~/src/helpers/node/listing-files.ts'


import MoreMenu from '../RightSidebar/MoreMenu.astro';
// import TableOfContents from '../RightSidebar/TableOfContents.tsx';

import ListingLogo from '~/src/components/listing-logo.vue'
import ListingContent from '~/src/components/listing-content.vue'
import TmdbImage from '~/src/components/tmdb-image.vue'

const { content, githubEditUrl } = Astro.props

const rawListing = await getSingleListingFromUrl( Astro.url.href )
---

{ !!rawListing.backdrop_path && (
	<div
		class="backdrop absolute inset-0"
	>
		<TmdbImage
			src={ rawListing.backdrop_path }
			class="absolute w-full h-screen object-cover inset-0 linear-mask"
		/>
	</div>
)}


<article id="article" class="content">
	<section class="main-section flex flex-col pt-64">
		<!-- <nav class="block sm:hidden">
			<TableOfContents client:media="(max-width: 50em)" {headers} />
		</nav> -->

		<ListingContent
			listing={ rawListing }
			context="listing-page"
			class="relative h-full px-8"
		/>

		<slot />
	</section>
	<nav class="block sm:hidden">
		<MoreMenu editHref={githubEditUrl} />
	</nav>
</article>

<style>
	.content {
		padding: 0;
		max-width: 75ch;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.content > section {
		margin-bottom: 4rem;
	}
	.block {
		display: block;
	}

	@media (min-width: 50em) {
		.sm\:hidden {
			display: none;
		}
	}
</style>
