---
import MoreMenu from '../RightSidebar/MoreMenu.astro';
import TableOfContents from '../RightSidebar/TableOfContents.tsx';

import ListingLogo from '~/src/components/listing-logo.vue'

const { content, githubEditUrl } = Astro.props

const title = content.title;
const headers = content.astro?.headers || [];

const logo = content?.logo_on_black
---

<article id="article" class="content">
	<section class="main-section">
		{ logo && <ListingLogo
			client:load 
			src={ logo }
			class="w-full object-contain"
			alt={ title }
		/> }
		<h1 class="content-title text-3xl md:text-8xl font-black" id="overview">{title}</h1>
		<nav class="block sm:hidden">
			<TableOfContents client:media="(max-width: 50em)" {headers} />
		</nav>

		<h2  class="font-bold" id="description">Description</h2>
		<div class="content-description">
			{ content.description }
		</div>
			
		<slot />
	</section>
	<nav class="block sm:hidden">
		<MoreMenu editHref={githubEditUrl} />
	</nav>
</article>

<style>
	.content {
		padding: 0;
		max-width: 75ch;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.content > section {
		margin-bottom: 4rem;
	}
	.block {
		display: block;
	}

	@media (min-width: 50em) {
		.sm\:hidden {
			display: none;
		}
	}
</style>
