---
// import { getLanguageFromURL, KNOWN_LANGUAGE_CODES } from '../../languages.ts';
import * as CONFIG from '../../config';
// import AstroLogo from './AstroLogo.astro';
import SkipToContent from './SkipToContent.astro';
import CircleButton from '~/src/components/circle-button.vue'
// import SidebarToggle from './SidebarToggle.tsx';
// import LanguageSelect from './LanguageSelect.tsx';
// import Search from './Search.tsx';

// const { currentPage } = Astro.props;
// const lang = currentPage && getLanguageFromURL(currentPage)

const lists = await Astro.glob( '/src/pages/en/lists/*.md' )
const stories = await Astro.glob( '/src/pages/stories/*.md' )

const pages = [
    ...lists,
    ...stories
]

// console.log( 'lists', lists.map( l => l.url ) )

const listsByUrl = Object.fromEntries( pages.map( l => [ l.url, l ] ) )

function menuItemFromUrl( url, label = null ) {
    const list = listsByUrl[ url ]

    // console.log( 'list', list )

    return {
        name: label ?? list.frontmatter.title,
        description: list.frontmatter.description,
        url
    }
}

let expanded = false

const menuId = 'main-menu'

const navItems = [
    {
        name: 'Lists',
        items: [
            {
                name: '📜 Marvel Phase 0',
                description: 'Marvel films and shows before the start of the Marvel Cinematic Universe',
                url: '/marvel-phase-0',
            },
            {
                name: '🔢 Marvel Viewing Order',
                description: 'Reccomended viewing order for Marvel films and shows',
                url: '/marvel-cinematic-universe-in-timeline-order',
            },
            {
                name: '♾ All Marvel Cinematic Universe',
                description: 'Anything and Everything Marvel Cinematic Universe so far, sorted by release date',
                url: '/marvel-cinematic-universe-movies-in-order',
            },

            // {
            //     name: '⏳ Marvel Cinematic Universe In Universe Timeline',
            //     description: 'The in-universe timeline of the Marvel Cinematic Universe films and shows, according to Disney+',
            //     url: '/marvel-cinematic-universe-in-timeline-order',
            // },

            menuItemFromUrl( '/en/lists/infinity-saga', '💎 Infinity Saga' ),

            menuItemFromUrl( '/en/lists/phase-one', '1️⃣ Marvel Phase 1' ),
            menuItemFromUrl( '/en/lists/phase-two', '2️⃣ Marvel Phase 2' ),
            menuItemFromUrl( '/en/lists/phase-three', '3️⃣ Marvel Phase 3' ),


            menuItemFromUrl( '/en/lists/multiverse-saga', '🌌 Multiverse Saga' ),

            menuItemFromUrl( '/en/lists/phase-four', '4️⃣ Marvel Phase 4' ),
            menuItemFromUrl( '/en/lists/phase-five', '5️⃣ Marvel Phase 5' ),
            menuItemFromUrl( '/en/lists/phase-six', '6️⃣ Marvel Phase 6' ),

            menuItemFromUrl( '/en/lists/wong-cinematic-universe', '🥋 The Wong Cinemetic Universe' ),
        ]
    },
    {
        name: 'Stories',
        items: [
            menuItemFromUrl( '/stories/she-hulk-the-retreat-recap-show-92783-season-1-episode-7', '🧑‍🎤 She-Hulk Episode 7 Recap' ),
            {
                name: '🏰 Everything Announced at D23 Marvel Panel',
                description: 'Details for all the announcements from the Marvel Panel at D23 Expo',
                url: '/stories/d23-expo-marvel-panel/',
            },
            {
                name: '🧑‍🎤 She-Hulk Watch List',
                description: 'What to watch while you\'re waiting for the next She-Hulk episode or after you finish the series.',
                url: '/stories/she-hulk-watch-list/',
            },
            {
                name: '🔨 Thor Anthology',
                description: 'The complete Thor universe, in order',
                url: '/stories/thor-anthology',
            },
            {
                name: '🪄 Wong Anthology',
                description: 'The complete Wong Cinematic Universe, in order',
                url: '/stories/wong-cinematic-universe',
            }
        ]
    }
]
---

<header class="fixed inset-x top-0 w-full">
	<SkipToContent />

	<div class="nav-wrapper">
		<!-- This example requires Tailwind CSS v2.0+ -->
        <div class="z-0 relative w-full">
            <div class="fixed z-top-nav inset-x-0">
                <div
                    class="flex justify-start gap-6 px-4 py-6 sm:px-6 lg:px-8"
                    title="Top Navigation"
                >

                    <div class="logo relative w-32 z-top-nav">
                        <a href="/">
                            <!-- <AstroLogo size={40} /> -->
                            <h1>{ CONFIG.SITE.title }</h1>
                        </a>
                    </div>

                    <!-- Item active: "", Item inactive: "text-gray-50/100" -->
                    <div class="">

                        <a
                            type="button"
                            href={ `#${ menuId }` }
                            class="relative text-gray-50/100 group bg-black/10 rounded-md inline-flex items-center text-base font-medium hover: focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                            aria-expanded={ expanded }
                        >
                            <span>Lists</span>
                            <!--
                                Heroicon name: solid/chevron-down

                                Item active: "text-gray-600", Item inactive: "text-gray-400"
                                -->
                            <svg class="text-gray-400 ml-2 h-5 w-5 group-hover:text-gray-50/100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </a>

                        <nav
                            id={ menuId }
                            class="hidden absolute top-0 inset-0 h-screen target:block bg-black/10 backdrop-blur-xl"
                            aria-labelledby="main-menu-heading"
                        >
                            <div class="columns-wrapper flex flex-col md:flex-row items-start h-screen overflow-scroll lower-mask gap-y-12 sm:gap-x-12 pb-72 px-4 pt-6 sm:px-6 lg:px-8 xl:pr-12">
                                <h2 id="main-menu-heading" class="sr-only">Main menu</h2>

                                <div class="spacer w-32 mr-12" />

                                { navItems.map( ( { name, items }, columnIndex ) => (
                                    <div class="w-full">
                                        <a
                                            type="button"
                                            href='#'
                                            class="relative z-top-nav text-gray-50/100 group bg-black/10 rounded-md inline-flex items-center text-base font-medium hover: focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                            aria-expanded={ expanded }
                                        >
                                            <h3>{ name }</h3>

                                            { columnIndex === 0 && (
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    class="text-gray-400 ml-2 h-5 w-5 group-hover:text-gray-50/100"
                                                    viewBox="0 0 20 20"
                                                    fill="currentColor"
                                                >
                                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            )}
                                        </a>

                                        <ul role="list" class="flex flex-col items-start gap-6 mt-5">
                                            { items.map( ( { name, description, url } ) => (
                                                <li class="flow-root">
                                                    <a href={ url } class="p-3 flex flex-col items-start rounded-md hover:bg-gray-50/10 transition ease-in-out duration-150">
                                                        <!-- Heroicon name: outline/information-circle -->
                                                        <div class="text-2xl font-medium">{ name }</div>
                                                        <div class="opacity-75">
                                                            { description }
                                                        </div>
                                                    </a>
                                                </li>
                                            ) ) }
                                        </ul>
                                    </div>
                                ) ) }
                            </div>

                            <CircleButton
                                tag-name="a"
                                href="#"
                                class="close-button absolute bottom-24 left-1/2 transform-gpu -translate-x-1/2 translate-y-1/2"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </CircleButton>

                        </nav>

                    </div>
                </div>
            </div>


        </div>
	</div>
</header>

<style>
	header {
		z-index: 11;
		/* height: var(--theme-navbar-height); */
		width: 100%;
		/* background-color: var(--theme-navbar-bg); */
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.nav-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1em;
		width: 100%;
		/* max-width: 82em; */
		padding: 0 1rem;
	}

	/** Style Algolia */
	:root {
		--docsearch-primary-color: var(--theme-accent);
		--docsearch-logo-color: var(--theme-text);
	}

	.search-item {
		display: none;
		position: relative;
		z-index: 10;
		flex-grow: 1;
		padding-right: 0.7rem;
		display: flex;
		max-width: 200px;
	}
	:global(.search-item > *) {
		flex-grow: 1;
	}
	@media (min-width: 50em) {
		.search-item {
			max-width: 400px;
		}
	}
</style>
