---
import AvatarList from './AvatarList.astro';
const { path } = Astro.props;
---

<footer class="fixed bottom-2 inset-x w-full flex justify-between px-4">
	<!-- <AvatarList {path} /> -->

	<div class="text-xs opacity-20"></div>

	<div class="text-xs opacity-20">This site is not affiliated with or endorsed by the Marvel. </div>

	<div class="text-xs opacity-50"></div>
</footer>

