---
import AvatarList from './AvatarList.astro';
const { path } = Astro.props;
---

<footer class="fixed bottom-2 inset-x w-full flex justify-center">
	<!-- <AvatarList {path} /> -->

	<div class="text-xs opacity-10">This site is not affiliated with or endorsed by the Marvel. </div>
</footer>

