---
import HeadCommon from '../components/HeadCommon.astro'
import tailwindStyles from '@astrojs/tailwind/base.css?inline'

import * as CONFIG from '../config'


const { content = {} } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;

console.log( 'content', content )

const videoPosterUrl = 'https://vumbnail.com/Go8nTmfrQd8.jpg'
const videoUrl = 'https://vumbnail.com/Go8nTmfrQd8.mp4'
const canonicalUrl = '/stories/thor-anthology'
const author = 'MarvelOrder.com'

---
<!DOCTYPE html>
<html ⚡>
    <head>
        <HeadCommon />

        <title>{ content.title } - { author }</title>

        <!-- Preloads -->
        <link href="https://cdn.ampproject.org/v0.js" rel="preload">
        <link href="https://cdn.ampproject.org/v0/amp-story-1.0.js" rel="preload">
        <link href="https://cdn.ampproject.org/v0/amp-video-0.1.js" rel="preload">

        <link rel="canonical" href={ canonicalUrl } />

        <!-- Take note of the unique scripts used here. Most, if not all Web Stories will require the first two scripts. -->
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <script
            async
            custom-element="amp-story"
            src="https://cdn.ampproject.org/v0/amp-story-1.0.js"
            ></script>
        <!-- This script specifically enables any embedded video content to render correctly on a Web Story. -->
        <script
            async
            custom-element="amp-video"
            src="https://cdn.ampproject.org/v0/amp-video-0.1.js"
        ></script>


        <style
            is:inline
            amp-boilerplate
        >
            body {
                -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
                -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
                -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
                animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            }
            @-webkit-keyframes -amp-start {
                from {
                    visibility: hidden;
                }
                to {
                    visibility: visible;
                }
            }
            @-moz-keyframes -amp-start {
                from {
                    visibility: hidden;
                }
                to {
                    visibility: visible;
                }
            }
            @-ms-keyframes -amp-start {
                from {
                    visibility: hidden;
                }
                to {
                    visibility: visible;
                }
            }
            @-o-keyframes -amp-start {
                from {
                    visibility: hidden;
                }
                to {
                    visibility: visible;
                }
            }
            @keyframes -amp-start {
                from {
                    visibility: hidden;
                }
                to {
                    visibility: visible;
                }
            }
        </style>
        <noscript>
            <style
                is:inline
                amp-boilerplate
            >
                body {
                    -webkit-animation: none;
                    -moz-animation: none;
                    -ms-animation: none;
                    animation: none;
                }
            </style>
        </noscript>
        <style
            is:inline
            amp-custom
        >

            /* Inline Tailwind styles so we're complying with amp inline policy */
            { tailwindStyles }
            amp-story {
            font-family: "Oswald", sans-serif;
            color: #fff;
            }
            amp-story-page {
            background-color: #000;
            }
            h1 {
            font-weight: bold;
            font-size: 2.875em;
            font-weight: normal;
            line-height: 1.174;
            }
            p {
            font-weight: normal;
            font-size: 1.3em;
            line-height: 1.5em;
            color: #fff;
            }
            q {
            font-weight: 300;
            font-size: 1.1em;
            }
            amp-story-grid-layer.bottom {
            align-content: end;
            }
            amp-story-grid-layer.noedge {
            padding: 0px;
            }
            amp-story-grid-layer.center-text {
            align-content: center;
            }
            .wrapper {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            }
            .banner-text {
            text-align: center;
            background-color: #000;
            line-height: 2em;
            }
        </style>
    </head>
    <body>
        <!-- Everything else is included inside the single child of the body element -- amp-story. -->
        <!-- Four attributes are required for stories to be discovered on the web. Title, publisher name, publisher logo, and poster image. -->
        <amp-story
            standalone=""
            title={ content.title }
            publisher={ author }
            publisher-logo-src="/mark.png"
            poster-portrait-src={ videoPosterUrl }
        >
            <!-- These metadata attributes supplement and do not replace any Structured Data (e.g. JSON-LD) on the page. To ensure your Web Stories are discovered across all platforms, you should add Structured Data to all your AMP pages, including AMP stories. -->
            <!-- Each amp-story component must have at least one or more amp-story-page children, which serve as the individual screens. -->
            <!-- Cover page -->
            <amp-story-page id="cover">
                <!-- Each amp-story-page component must have at least one or more layer components, which stack upon one another to create visual effects. -->
                <amp-story-grid-layer template="fill">
                    <amp-video
                        autoplay
                        loop
                        width="720"
                        height="1280"
                        poster={ videoPosterUrl }
                        layout="responsive"
                        class="blur"
                        title="Thor arriving with Lightning"
                    >
                        <source src={ videoUrl } type="video/mp4" />
                    </amp-video>
                </amp-story-grid-layer>
                <amp-story-grid-layer template="vertical">
                    <h1>{ content.title }</h1>
                    <p>{ author }</p>
                </amp-story-grid-layer>
            </amp-story-page>
            <!-- Page 1 (Cat): 1 layer (vertical) -->
            <amp-story-page id="page1">
                <amp-story-grid-layer template="vertical">
                    <h1>Cats</h1>
                    <amp-img
                        src={ videoPosterUrl }
                        width="720"
                        height="1280"
                        layout="responsive"
                        >
                    </amp-img>
                    https://vumbnail.com/Go8nTmfrQd8.mp4
                    <q
                        >Dogs come when they're called. Cats take a message and get back to
                    you. --Mary Bly</q
                        >
                </amp-story-grid-layer>
            </amp-story-page>
            <!-- Page 2 (Dog): 2 layers (fill + thirds) -->
            <amp-story-page id="page2">
                <amp-story-grid-layer template="fill">
                    <amp-img
                        src={ videoPosterUrl }
                        width="720"
                        height="1280"
                        layout="responsive"
                        >
                    </amp-img>
                </amp-story-grid-layer>
                <amp-story-grid-layer template="thirds">
                    <h1 grid-area="upper-third">Dogs</h1>
                    <p grid-area="lower-third">
                        Dogs were probably the first tame animals. They have accompanied
                        humans for some 10,000 years. Some scientists assert that all dogs,
                        domestic and wild, share a common ancestor in the small South Asian
                        wolf.
                    </p>
                </amp-story-grid-layer>
            </amp-story-page>
            <!-- Page 3 (Bird): 3 layers (fill + vertical + vertical) + Audio-->
            <amp-story-page id="page3">
                <amp-story-grid-layer template="fill">
                    <amp-img
                        src={ videoPosterUrl }
                        width="720"
                        height="1280"
                        layout="responsive"
                        >
                    </amp-img>
                </amp-story-grid-layer>
                <amp-story-grid-layer template="vertical">
                    <h1>Birds</h1>
                </amp-story-grid-layer>
                <amp-story-grid-layer template="vertical" class="bottom">
                    <q
                        >A bird is three things: Feathers, flight and song, And feathers are
                    the least of these.--Marjorie Allen Seiffert
                    </q>
                </amp-story-grid-layer>
            </amp-story-page>
            <!-- Page 4 (Rabbit): 3 layers (fill (video) + vertical + vertical) -->
            <amp-story-page id="page4">
                <amp-story-grid-layer template="fill">
                    <amp-video
                        autoplay
                        loop
                        width="720"
                        height="1280"
                        poster={ videoPosterUrl }
                        layout="responsive"
                        title="Thor arriving with Lightning"
                    >
                        <source src={ videoUrl } type="video/mp4" />
                    </amp-video>
                </amp-story-grid-layer>
                <amp-story-grid-layer template="vertical">
                    <h1>Rabbits</h1>
                </amp-story-grid-layer>
                <amp-story-grid-layer template="vertical" class="bottom">
                    <p>
                        Rabbits can learn to follow simple voice commands and come when
                        called by name, and are curious and playful.
                    </p>
                </amp-story-grid-layer>
            </amp-story-page>
            <!-- Page 5 (Collage): 2 layers + animations -->
            <amp-story-page id="page5">
                <amp-story-grid-layer template="vertical" class="noedge">
                    <div class="wrapper">
                        <amp-img
                            src={ videoPosterUrl }
                            width="720"
                            height="1280"
                            layout="responsive"
                            animate-in="fade-in"
                            animate-in-delay="0.4s"
                            >
                        </amp-img>
                        <amp-img
                            src={ videoPosterUrl }
                            width="720"
                            height="1280"
                            layout="responsive"
                            animate-in="fade-in"
                            animate-in-delay="0.6s"
                            >
                        </amp-img>
                        <amp-img
                            src={ videoPosterUrl }
                            width="720"
                            height="1280"
                            layout="responsive"
                            animate-in="fade-in"
                            animate-in-delay="0.8s"
                            >
                        </amp-img>
                        <amp-img
                            src={ videoPosterUrl }
                            width="720"
                            height="1280"
                            layout="responsive"
                            animate-in="fade-in"
                            animate-in-delay="1.0s"
                            >
                        </amp-img>
                    </div>
                </amp-story-grid-layer>
                <amp-story-grid-layer template="vertical" class="center-text">
                    <p class="banner-text" animate-in="whoosh-in-right">
                        Pets can lower your stress levels!
                    </p>
                </amp-story-grid-layer>
            </amp-story-page>
            <!-- The bookend is the correct way to properly bring a clean, shareable end to the Web Story. -->
            <!-- Bookend -->
            <amp-story-bookend layout="nodisplay">
                <script
                    type="application/json"
                    is:inline
                >
                    {
                        "bookendVersion": "v1.0",
                        "shareProviders": [
                            "twitter",
                            "email"
                        ],
                        "components": [
                            {
                                "type": "heading",
                                "text": "More to read"
                            },
                            {
                                "type": "small",
                                "title": "Visit the charming Dutch village where cars aren't allowed",
                                "url": "https://www.nationalgeographic.com/travel/destinations/europe/netherlands/visit-giethoorn-quaint-village-without-cars/?cmpid=int_org=ngp::int_mc=website::int_src=ngp::int_cmp=ampstories::int_add=ampstoriesclickthrough",
                                "image": "assets/houses-giethoorn-holland.jpg",
                                "category": "Travel"
                            },
                            {
                                "type": "small",
                                "title": "Why is this Bronze Age town so popular today?",
                                "url": "https://www.nationalgeographic.com/travel/destinations/europe/austria/a-weekend-in-hallstatt-fairy-tale-town/?cmpid=int_org=ngp::int_mc=website::int_src=ngp::int_cmp=ampstories::int_add=ampstoriesclickthrough",
                                "image": "assets/hallstatt-austria-2.jpg",
                                "category": "Travel"
                            },
                            {
                                "type": "small",
                                "title": "High in the mountains, this European village stands frozen in time",
                                "url": "https://www.nationalgeographic.com/travel/destinations/europe/bosnia-herzegovina/things-to-do-high-mountain-village-lukomir/?cmpid=int_org=ngp::int_mc=website::int_src=ngp::int_cmp=ampstories::int_add=ampstoriesclickthrough",
                                "image": "assets/lukomir-village-bosnia01.jpg",
                                "category": "Travel"
                            }
                        ]
                      }
                </script>
            </amp-story-bookend>
        </amp-story>
    </body>
</html>
